h1 {
    position: relative;
    font-family: 'Exo';
    font-size: 2em;
    margin: 0;
    transform: skew(-15deg);
    letter-spacing: 0.03em; 
  }

fieldset{
    margin:2%;
    margin-left: 40%;
    margin-right: 40%;
    padding:1%;
    border-radius: 10px;
}

p{
    text-align: left;
}