h1 {
    position: relative;
    font-family: 'Exo';
    font-size: 2em;
    margin: 0;
    transform: skew(-15deg);
    letter-spacing: 0.03em; 
  }

fieldset{
    margin:2%;
    margin-left: 35%;
    margin-right: 35%;
    padding:1%;
    border-radius: 10px;
}

#day{
    align-items: center;
    margin-top: 4%;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 10px;
}

p{
    margin: 2%;
    padding: 1%;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Exo';
    transform: skew(-15deg);
    letter-spacing: 0.03em; 
}